#blackbox-web-debug {
	position: fixed;
	top: auto;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 32px;
	color: #ccc;
	background-color: #23282d;
	direction: ltr;
	z-index: 100000;
	line-height: 1;
	font-size: 13px;
	font-weight: 400;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

#blackbox-web-debug .hljs {
	background-color: #32373c;
}

#blackbox-web-debug.mini {
	width: 40px;
}

#blackbox-web-debug.mini > a {
	display:none;
	padding: 0;
}

#blackbox-web-debug.mini > a.toggle::before {
	margin: 0 10px;
}

#blackbox-web-debug.mini > a.toggle {
	display:inline;
}

#blackbox:hover {
	opacity: 1;
}

#blackbox-web-debug div.debug-panel {
	display:none;
	position: fixed;
	bottom: 32px;
	left: 0;
	right: 0;
	max-height: 400px;
	background: #32373c;
	padding: 15px;
	overflow:auto;
}

#blackbox-web-debug table {
	margin: 0;
}

#blackbox-web-debug table tbody tr td.number {
	text-align: right;
}

#blackbox-web-debug table tbody tr td.err-name {
	width: 60px;
}

#blackbox-web-debug table tbody tr td {
	line-height: 1.5;
	padding: 0 15px 15px 0;
	margin: 0;
	vertical-align: top;
}

#blackbox-web-debug table tbody tr:last-child td {
	padding-bottom: 0;
}

#blackbox-web-debug a {
	display: block;
	height: 32px;
	color: white;
	font-weight: normal;
	line-height: 32px;
	text-decoration: none;
	padding: 0 8px 0 7px;
	margin: 0;
	background-color: #23282d;
	color: white;
	float: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: auto;
}

#blackbox-web-debug a.active,
#blackbox-web-debug a:hover {
	background-color: #32373c;
}

#blackbox-web-debug a:hover,
#blackbox-web-debug a:hover::before {
	color: #00b9eb;
}

#blackbox-web-debug .close:hover,
#blackbox-web-debug .close:hover::before {
	color: #e00;
}

#blackbox-web-debug a::before {
	float: left;
	position: relative;
	top: 2px;
	font: normal 20px/1 dashicons;
	color: rgba(240,245,250,0.6);
	speak: none;
	padding: 4px 0;
	margin-right: 6px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
#blackbox-web-debug .globals::before {
	content: "\f107";
}
#blackbox-web-debug .profiler::before {
	content: "\f311";
}
#blackbox-web-debug .filters::before {
	content: "\f536";
}
#blackbox-web-debug .database::before {
	content: "\f536";
}
#blackbox-web-debug .templates::before {
	content: "\f116";
}
#blackbox-web-debug .errors::before {
	content: "\f534";
}
#blackbox-web-debug .close {
	padding-left: 4px;
}
#blackbox-web-debug .close::before {
	top: 0;
	margin-right: 2px;
	font-size: 24px;
	content: "\f158";
}
#blackbox-web-debug .toggle::before {
	content: "\f169";
}
#blackbox-web-debug .toggle.off::before {
	content: "\f340";
}
#blackbox-web-debug .toggle.on::before {
	content: "\f344";
}

#blackbox-web-debug .print__r {
	padding: 0;
	margin: 0;
}

#blackbox-web-debug pre {
	background-color: #32373c;
	background-image: none;
	border: none;
	color: #ccc;
	padding:0;
	margin: 0;
}

#blackbox-web-debug code {
	background-color: #32373c;
	line-height: 1.5;
	padding:0;
	margin: 0;
}

form.blackbox-filter {
	line-height: normal;
	padding: 0;
	margin: 0;
}

#blackbox-web-debug .blackbox-filter label {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	line-height: normal;
	text-transform: none;
	font-size: 12px;
}

#blackbox-web-debug .blackbox-filter input[type=text] {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important;
	background-color: #32373c;
	border: 1px solid gray;
	color: silver;
	padding: 3px;
	margin-bottom: 15px;
}

@media screen and (max-width: 782px) {
	#blackbox-web-debug a {
		position: relative;
		text-indent: 100%;
		text-overflow: clip;
		white-space: nowrap;
		overflow: hidden;
		width: 40px;
		height: 32px;
		line-height: 32px;
		padding: 0;
	}
	#blackbox-web-debug a::before {
		position: absolute;
		left: 0;
		top: 2px;
		width: 40px;
		text-indent: 0;
		text-align: center;
	}
	#blackbox-web-debug.mini > a.toggle::before {
		margin: 0;
	}
	#blackbox-web-debug .close {
		padding-left: 0;
	}
}
